.sideNavbar {
  background-color: white;
  align-items: center;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.sideNavListLi a img {
  width: 2.2rem;
}

.sideNavListLi a {
  width: 100%;
  height: 100%;
}

.sideNavbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 1px;
}

.sideNavListLi {
  padding: 8px 10px;
  padding-bottom: 3px;
  margin: 0 5px;
}

.sideNavbar li:hover {
  background-color: #bdaedc;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

@media (width < 1200px) {
  .sideNavListLi a img {
    width: 1.8rem;
  }

  .sideNavbar ul {
    margin: 0.5rem 0.1rem;
  }

  .sideNavListLi {
    padding: 0.5rem 0.5rem;
    padding-bottom: 0.2rem;
    margin: 0 0.3rem;
  }
}

@media (width < 660px) {
  .sideNavListLi a img {
    width: 1.5rem;
  }

  .sideNavbar ul {
    margin: 0.3rem 0.1rem;
  }

  .sideNavListLi {
    padding: 0.4rem 0.4rem 0 0.4rem;
    margin: 0 0.3rem;
  }
}

/* .sideNavbar {
    display: none;
  } */
