footer {
  background-color: #000000;
  color: white;
  width: 100%;
}

.containerFooter {
  padding: 1rem 4rem 0 4rem;
}

.subContainerFooter {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.nameInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0;
}

.nameInfo h2 {
  font-weight: 600;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.nameInfo > p {
  font-weight: 300;
  font-size: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.footerDescription {
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid #444;
  margin-top: 1rem;
  padding: 2rem 0;
}

.footerDescription a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

.socialImgs {
  width: 1.8rem;
}

.socials ul {
  display: flex;
  gap: 1rem;
}

@media (width < 1200px) {
  .containerFooter {
    padding: 1rem 3rem 0 3rem;
  }

  .subContainerFooter {
    justify-content: space-around;
  }

  .nameInfo {
    width: 50%;
    padding: 2rem 0;
    gap: 1rem;
  }

  .nameInfo h2 {
    font-weight: 600;
  }

  .nameInfo > p {
    font-weight: 300;
    font-size: 0.9rem;
  }

  .socials {
    gap: 0.8rem;
    padding: 2rem 0;
  }

  .socials h2 {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}

@media (width < 900px) {
  .containerFooter {
    padding: 1rem 1rem 0 1rem;
  }
}
