footer {
  width: 100%;

  /* display: flex;
  flex: 1; */
  /* flex-shrink: 0; */

  background-color: #000000;
  color: white;

  /* position: absolute;
    bottom: 0; */

  /* position: relative; */

}

.containerFooter {
  padding: 3rem 4rem 0 4rem;

  /* position: sticky;
  bottom: 0; */
 
  
}

.subContainerFooter {
  display: flex;
  gap: 18rem;
  justify-content: space-around;
}

.nameInfo {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
}

.nameInfo h2 {
  font-weight: 600;
}

.nameInfo > p {
  font-weight: 300;
}

.socials {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.footerDescription {
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid #444;
  margin-top: 3rem;
  padding: 3rem 0;
}

.footerDescription a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

.socialImgs {
  width: 30px;
}

.socials ul {
  display: flex;
  gap: 0.8rem;
}
