@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  /* overflow: hidden; */
  /* background: transparent; */
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  /* overflow-x: hidden;
  overflow-y: scroll; */

  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/common-bg.svg);
  background-position: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
