.aboutMeContainer {
  color: #666;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f9f8f8;
  padding-bottom: 10rem;
}

.aboutMeSection {
  text-align: center;
  margin-bottom: 5rem;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 2rem;
}

.aboutMeSection > h2 {
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: black;
}

.aboutMeSection > p {
  font-weight: 400;
  font-size: 1.1rem;
  width: 60%;
  margin: 1.5rem auto 0 auto;
}

.aboutMeSubContainer {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 35%;
  justify-content: space-around;
  margin: 0 8rem;
}

.aboutMeSubContainer h2 {
  color: black;
}

.knowMeSection {
  width: 40%;
}

.knowMeSection > p {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.knowMeSection > p > a {
  color: #7843e9;
  font-weight: 500;
}

.knowMeSection > button {
  all: unset;
  background-color: #7843e9;
  padding: 10px 45px;
  margin-top: 1rem;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: transform 0.8s ease;
}

.knowMeSection > button:hover {
  transform: translateY(-5px);
  transition: transform 0.8s ease;
  cursor: pointer;
}

.skills {
  width: 40%;
}

.skills ul {
  margin: 1rem 0;
  /* display: grid;
  grid-template-columns: 9rem 10rem 9rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: left;
}

.aboutMeSection hr {
  width: 35px;
  margin: auto;
  border: 3px solid #7843e9;
  border-radius: 5px;
}

.skillsLi button {
  all: unset;
  color: #6e6e6e;
  background-color: #e7e7e7;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 5px;
  transition: transform 0.5s ease;
  margin: 8px 0;
}

.skillsLi button:hover {
  background-color: #7843e9;
  color: white;
  transition: transform 0.5s ease;
  /* transform: rotate(8deg); */
  transform: scale(1.1);
}

@media (width < 1200px) {
  .aboutMeContainer {
    padding-bottom: 1rem;
  }

  .aboutMeSection {
    margin-bottom: 4rem;
    position: absolute;
    top: 10%;
    margin-top: 1rem;
  }

  .aboutMeSection > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .aboutMeSection > p {
    font-weight: 400;
    font-size: 1rem;
    width: 60%;
    margin: 1.2rem auto 0 auto;
  }

  .aboutMeSubContainer {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 25%;
    justify-content: space-around;
    margin: 0 3rem;
  }

  .knowMeSection > p {
    margin: 1rem 0;
    font-size: 0.95rem;
  }

  .skills ul {
    margin: 0.8rem 0;
  }

  .skillsLi button {
    margin: 0.1rem 0;
  }
}

@media (width < 900px) {
  .aboutMeContainer {
    padding-bottom: 7rem;
  }

  .aboutMeSection > p {
    width: 80%;
  }

  .aboutMeSubContainer {
    margin: 1rem 5rem;
    display: block;
    align-content: center;
    position: absolute;
    top: 22%;
  }

  .knowMeSection {
    width: 90%;
    padding-bottom: 3rem;
  }

  .skills {
    width: auto;
  }

  .skills ul {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: left;
  }

  .skillsLi button {
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 5px;
  }
}

@media (width < 660px) {
  .aboutMeContainer {
    padding-bottom: 10rem;
  }

  .aboutMeSubContainer {
    margin: 1rem 4rem;
    display: block;
    align-content: center;
    position: absolute;
    top: 23%;
  }

  .knowMeSection {
    width: 90%;
    padding-bottom: 3rem;
  }

  .skills ul {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: left;
  }

  .skillsLi button {
    padding: 4px 12px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 0.9rem;
  }
}
